<div class="container">
    <div class="timeline-block clearfix">

        <div class="content-section clearfix visible-lg visible-md hidden-sm hidden-xs">
            <div class="col-md-6 col-sm-12 col-xs-12 left-section timeline-content">
                <h2 class="stylized">Wedding Details</h2>
                <p class="content-description">{{ site.our-story.description }}</p>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 right-section timeline-content">
                <div class="timeline-img picture">
                    <img class="content-border center-block" src="img/content-border.png">
                    <img class="content-image center-block" src="img/content-image.jpg">
                </div>
            </div>
        </div>

        <div class="content-section hidden-lg hidden-md visible-sm visible-xs clearfix">
            <div class="col-md-6 col-sm-12 col-xs-12 right-section timeline-content">
                <div class="timeline-img picture">
                    <img class="content-border center-block" src="img/content-border.png">
                    <img class="content-image center-block" src="img/content-image.jpg">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 left-section timeline-content">
                <h2 class="stylized">Wedding Details</h2>
                <p class="content-description">{{ site.our-story.description }}</p>
            </div>
        </div>
    </div>
</div>